<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908577991710-u1pskcmugij36ik08580u6fp64tn2qp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908577991710-u1pskcmugij36ik08580u6fp64tn2qp6</string>
	<key>API_KEY</key>
	<string>AIzaSyDIM8pOLT3hAEk6uoJ5nMYzCPhyFKN3f-4</string>
	<key>GCM_SENDER_ID</key>
	<string>908577991710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mac.Yasser.iOSApp.Authenticate-Using-Email</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-394db</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-394db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908577991710:ios:e7b87f3b32a0564a18d20f</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-394db.firebaseio.com</string>
</dict>
</plist>